/* ----- Hamburger lines animations--------- */

/* clicked - crosses lines to form an 'X' */
.hamburgerCrossed:nth-child(1){
    transform: translate(-50%, -50%) rotate(45deg);
    transition: ease-out 0.5s;
    top: 50%;
}

.hamburgerCrossed:nth-child(2){
    transform: scale(0.1);
    opacity: 0;
    transition: ease-out 0.5s;
}

.hamburgerCrossed:nth-child(3){
    transform: translate(-50%, -50%) rotate(135deg);
    transition: ease-out 0.5s;
    top: 50%;
}

/* unclicked - uncrosses lines and forms hamburger stack */
.hamburgerStacked {
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}