@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 1500px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
  }
  
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}
